@model IEnumerable<MorningJoeReadsWebUI.Models.Search>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
@Styles.Render("~/Content/LandingPage.css")
<h2>You can add or view searches here!</h2>
<div align="center" id="AddSearchDiv">
    <input type="button" id="btnpopup" value="Add Search"
           onclick="window.location.href='@Url.Action("NewSearchWindow")'" />
    
    <ul>
        @foreach (var x in Model)
        { 
            <li>
                <button type="button">@x.SearchName</button>
            </li>
        }
    </ul>
</div>









