@model MorningJoeReadsWebUI.ViewModel.SearchButtons
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
@Styles.Render("~/Content/LandingPage.css")
<h2>You can add or view searches here!</h2>
<div align="center" id="AddSearchDiv">
    <input type="button" id="btnpopup" value="Add Search"
           onclick="window.location.href='@Url.Action("NewSearchWindow")'" />
</div>
<hr />
@try
{
    <ul>
        @foreach (var search in Model.Searches)
        {
            <li>
                <button type="button">@search.SearchName</button>
            </li>
        }
    </ul>
}
catch { }




