
body{
    background-image: url("/Images/coffee-801781_960_720.jpg");
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center top;
    background-size:cover;
}
h1{
    color:antiquewhite;
    text-align:center;
    font-weight:bold;
    text-shadow: 2px 2px 3px #cc752a;
}
h2 {
    color: antiquewhite;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 3px #cc752a;
}

