@{
    ViewBag.Title = "Home Page";
}
<body>
    @Styles.Render("~/Content/LandingPage.css")
    @*<img src="~/Images/coffee-801781_960_720.jpg" />*@
</body>

<p>Describes the Wep Application and the user can login from here!</p>
